html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2C3E50;
}
html,
body {
  height: 100%; /* pour forcer le flex à prendre tout l'écran */
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
  margin-bottom: 25px;
  width: auto;
  height: 1000px;
}
.bg-dark {
  background-color: #12002B;
}
.main-login {
  margin-bottom: 25px;
  width: auto;
  height: 1000px;
}
.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 2px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 2px !important;
  white-space: nowrap !important; /* 3 */
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav a {
  font-weight: bold;
  color: #2C3E50;
}
.main-nav a.router-link-exact-active {
  color: #42B983;
}
.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav-item:hover {
  text-decoration: underline;
}
.main-nav-logo {
  display: flex;
  align-items: center;
}
.main-nav-logo-image {
  max-width: 100%;
  width: 270px;
}
.fa-user-circle {
  margin-left: 0.5rem;
}
.hero {
  background-image: url("./assets/img/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .hero {
    height: 600px;
    background-position: 0% 33%;
  }
  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 5rem;
  }
  .hero-content .subtitle {
    font-size: 1.7rem;
  }
  .hero-content .text {
    font-size: 1.5rem;
  }
}
.features {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
  .feature-icon {
    width: 165px !important;
  }
}
.feature-icon {
  width: 105px;
  border: 10px solid #00BC77;
  border-radius: 50%;
  padding: 1rem;
}
.feature-item {
  flex: 1;
  padding: 2.5rem;
}
.feature-item-title {
  color: #222;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00BC77;
  background-color: #00BC77;
  color: #fff;
}
.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  border: 2px solid black;
}
.sign-in-icon {
  font-size: 5rem;
}
.input-remember {
  display: flex;
}
.input-remember label {
  margin-left: 0.25rem;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.input-wrapper label {
  font-weight: bold;
}
.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  margin-top: auto;
  padding: 2rem 0;
}
.footer-text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
@media (min-width: 920px) {
  .footer-text {
    font-size: 1.5rem;
  }
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account-amount-description {
  margin: 0;
}
.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account-content-wrapper {
  width: 100%;
  flex: 1;
}
.edit-button {
  border-color: #00BC77;
  background-color: #00BC77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.header {
  color: #fff;
  margin-bottom: 2rem;
}
.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00BC77;
  background-color: #00BC77;
  color: #fff;
}
@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }
  .account-content-wrapper.cta {
    flex: 0;
  }
  .transaction-button {
    width: 200px;
  }
}
/* Style spécifique à la page d'erreur */
.error-page-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(
    100vh - 150px
  ); /* Ajustez en fonction de la hauteur de votre header et footer */
}
.error-container {
  text-align: center;
  color: #fff;
}
.error-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.error-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}